@charset "utf-8";
*{margin: 0; padding: 0;}
    /*my_css*/
body{
    background: linear-gradient(125deg, #FF30C8, #57C0D1, #FFE29E)no-repeat;
}
#guide{
    margin: 100px auto;
}
#guide img{
    margin:0 auto;
      display: block;
      width: 85%;
      padding: 0 7.5%;
    }
    #top{
      position: fixed;
      right:20px;
      bottom:20px;
    }
    #return{
      position: fixed;
      right:20px;
      bottom: 81px;
    }
    .fixed:hover{
      opacity:0.5;
      transition: opacity 0.5s;
    }
